<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои контакты</title>
</head>
<body>
<ul>
    <li><a href="https://t.me/sup3r44ax">https://t.me/sup3r44ax</a></li>
    <li><a href="https://vk.com/botnata">https://vk.com/botnata</a></li>
    <li><a href="https://github.com/Maxim-Burkov">https://github.com/Maxim-Burkov</a></li>
    <li><a href="https://ergeco.itch.io/">https://ergeco.itch.io/</a></li>
    <li><a href="https://www.codewars.com/users/ergeco">https://www.codewars.com/users/ergeco</a></li>
    <li><a href="https://t.me/ergecoStory">https://t.me/ergecoStory</a></li>
    <li><a href="https://discord.gg/NuYdQbHA">https://discord.gg/NuYdQbHA></a></li>
</ul>
</body>
</html>